<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>

  <body class="host_version">
    <!-- LOADER -->
    <div id="preloader">
      <div class="loader-container">
        <div class="progress-br float shadow">
          <div class="progress__item"></div>
        </div>
      </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <%- include('partials/_navbar') %>

    <!-- End header -->

    <div class="all-title-box">
      <div class="container text-center">
        <h1>
          Courses<span class="m_1"
            >Lorem Ipsum dolroin gravida nibh vel velit.</span
          >
        </h1>
      </div>
    </div>

    <div id="overviews" class="section wb">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 blog-post-single">
            <% if (flashMessages) { %>
              <div class="col-lg-12">
                
                <% if(flashMessages.success) { %>
                  <div class="alert alert-success">
                    <%= flashMessages.success %>
                  </div>
                <% } %>  
      
                <% if(flashMessages.error) { %>
                  <div class="alert alert-danger">
                    <%= flashMessages.error %>
                  </div>
                <% } %> 
              </div>

            <% } %>
            <div class="row">
              <% for (let i = 0; i < courses.length; i++) { %>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="course-item mb-5">
                  <div class="image-blog">
                    <img src="/images/blog_1.jpg" alt="" class="img-fluid" />
                  </div>
                  <div class="course-br">
                    <div class="course-title text-center">
                      <h2>
                        <a href="/courses/<%= courses[i].slug %>" title=""
                          ><%= courses[i].name %>
                        </a>
                      </h2>
                    </div>
                  </div>
                  <div class="course-meta-bot">
                    <ul>
                      <li>
                        <i class="fa fa-user" aria-hidden="true"></i> <%=
                        courses[i].user.name %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <% } %>
            </div>
            <!-- end row -->
            <div>
              <% if (pages > 0) { %>
                <ul class="nav tm-paging-links">
                  <% for (i=1; i <=pages; i++) { %>
                    <%   if (i == current) { %>
                      <li class="btn btn-warning mr-2 active"><a href="?page=<%= i %>" class="nav-link tm-paging-link text-white"><%= i %></a></li>
                    <%  } else { %>
                      <li class="btn btn-warning mr-2"><a href="?page=<%= i %>" class="nav-link tm-paging-link text-white"><%= i %></a></li>
                    <%  } %>
                  <%  } %>
                </ul>
              <% } %>
             </div>
          </div>
          <!-- end col -->
          <div class="col-lg-3 col-12 right-single">
            <div class="widget-search">
              <div class="site-search-area">
                <form method="get" id="site-searchform" action="/courses">
                  <div>
                    <input
                      class="input-text form-control"
                      name="search"
                      id="search-k"
                      placeholder="Search..."
                      type="text"
                    />
                    <button
                      id="searchsubmit"
                      value="Search"
                      type="submit"
                    ></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget-categories">
              <h3 class="widget-title">Categories</h3>
              <ul>
                <li><a href="/courses">All</a></li>
                <% for (let i = 0; i < categories.length ; i++) { %>
                <li>
                  <a href="?categories=<%= categories[i].slug %>">
                    <%= categories[i].name %>
                  </a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end section -->

    <!-- start footer-->
    <%- include('partials/_footer') %>
    <!-- end footer -->
  </body>
</html>
